<div class="container">
    <div class="row">
        <div class="col">
            <span>
                <strong>ID:</strong> {{ id }}
            </span>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <span>
                <strong>Name:</strong> {{ name }}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>
                <strong>Lastname:</strong> {{ lastname }}
            </span>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <span>
                <strong>Birth:</strong> {{ birth }}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>
                <strong>Amount:</strong> {{ amount }}
            </span>
        </div>
    </div>
</div>
