<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img class="logo" src="../../assets/descarga.png" width="300px" height="300px">
            </div>
            <div class="col-6">
                <app-createuser title="Crear Empleado" [user]="user1" ></app-createuser>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2>LIsta de empleados:</h2>
                <app-listusers (getId)="setId($event)"></app-listusers>
            </div>
            <div class="col-6">
                <ng-template [ngIf]="handleView">
                    <app-createuser title="Actualizar Datos del Empleado" [user]="user" [editable]="editable"></app-createuser>
                </ng-template>          
            </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>