<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="logo" src="../../assets/descarga.png" width="300px" height="300px">
            </div>
            <div class="col">
                <app-createuser title="Crear Empleado" [user]="init"></app-createuser>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>LIsta de empleados:</h2>
                <app-listusers (getId)="setId($event)"></app-listusers>
            </div>
            <div class="col">
                <ng-template [ngIf]="handleView">
                    <app-createuser  (update)="updateList($event)" title="Actualizar Datos del Empleado" [user]="refresh" [updateUser]="true">
                    </app-createuser>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>