<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="logo" src="../../assets/descarga.png" width="300px" height="300px">
            </div>
            <div class="col">
                <app-createuser title="Crear Empleado" [user]="init"></app-createuser>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>LIsta de empleados:</h2>
                <app-listusers [refresh]="refresh" (getId)="setId($event)"></app-listusers>
            </div>

            <ng-template [ngIf]="handleView">
                <div class="col">
                    <app-createuser (update)="updateList($event)" title="Actualizar Datos del Empleado" [user]="user"
                        [updateUser]="true">
                    </app-createuser>
                </div>
            </ng-template>

        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>